<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=”Description” content=” Es una Empresa dedicada al diseño y decoración de hogares y empresas con objetos de máxima calidad”/>
    <meta name=”Keywords” content=” decoración, diseño interior, Sillas, Lamparas, Objetos de diseño, asesoramiento diseño”/>
    <meta name=”Distribution” content=”Global”/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dawning+of+a+New+Day&family=Homemade+Apple&family=League+Script&family=Open+Sans&family=Open+Sans+Condensed:wght@300&family=Oswald:wght@300&family=Raleway:wght@100&family=Roboto+Condensed:wght@300&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/estilosGaleriaBoostrap.css">
    <link rel="stylesheet" href="../css/estilosEsDesign.css">
    <link rel="stylesheet" href="../css/contactanos.css">
    
    <title>Servicio de Diseño y Asesoramiento para tu hogar/empresa o proyecto</title>

</head>

  <body>
    <header class="headerStyle" > 
 
   <div class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
          <source src="../video/Asesores_hd.mp4" type="video/mp4">
        </video>
        <div class="container h-75">
          <div class="d-flex h-100 text-center align-items-start">
            <div class="w-100 text-white">

              <Section>
                <div class= "text-center">          
                  <img src="../imagenes/Slider/index/logo.png" class="imgLogo" alt="...">
               </div>
          
                <ul class="nav justify-content-center">
                            
                    <li class="nav-item">
                      <a class="nav-link" href="../views/home.html">HOME</a>
                    </li>
                  
                    <li class="nav-item dropdown id=menuColec"> <!-- Al item COLECCIONES no le pongo un link, porque si lo hago, al darle click 
                      no llega a desplegarse los menues, investigar como hacer que al pasar el mouse se despliegue el menu automaticamente -->
                        <a class="nav-link" href="productos.html" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"  aria-expanded="false">
                          COLECCIONES
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <li><a class="dropdown-item" href="../views/productos.html">Coleccion Verano 2021</a></li>
                <li><a class="dropdown-item" href="../views/productos.html#galeriaSillas">SILLAS</a></li>
                <li><a class="dropdown-item" href="../views/productos.html#galeriaLamparas">LAMPARAS</a></li>
                <li><a class="dropdown-item" href="../views/productos.html#specialPrice">SPECIAL PRICES!</a></li>
                <li><a class="dropdown-item" href="../views/productosTodos.html">Ver Colección completa</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="../views/inviernoIntroVideo.html">ADELANTO TEMPORADA INVIERNO 21</a></li>
                        </ul>
                    </li>
                    
                    <li class="nav-item">
                      <a class="nav-link" href="../views/nosotros.html">NOSOTROS</a>
                    </li>
                    <li class="nav-item dropdown id=menuColec"> <!-- Al item COLECCIONES no le pongo un link, porque si lo hago, al darle click 
                      no llega a desplegarse los menues, investigar como hacer que al pasar el mouse se despliegue el menu automaticamente -->
                        <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"  aria-expanded="false">
                          CONTACTANOS</a>
          
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="../views/contactanosAsesor.html">Servicio de Asesor/Diseñador</a></li>
                            <li><a class="dropdown-item" href="../views/contactanosAtCliente.html">Atención al Cliente</a></li>
                         </ul>
                    </li>
                </ul>
    
            </Section>

              <h1 class="display-3 mt-4">¿COMO PUEDEN AYUDARTE <br> NUESTROS ASESORES?</h1>
            <!--  <p class="text-white lead mb-0">ESSENTIAL DESIGN</p> -->
              <a href="contactanosAsesor.html#reservaAsesorform" class="btn btn-outline-light mt-4" >Reservar un Asesor &raquo;</a> 
              <a href="contactanosAsesor.html#servicioAsesorFun" class="btn btn-outline-light mt-4" >Conoce más sobre el servicio &raquo;</a> 
              
            </div>
          </div>
        </div>
 </header>
      <section class="my-1">
        <div class="container">
          <div class="row">
            <div class="mt-4 display-6 ol-md-8 mx-auto">
              <section class="pt-4 pb-5">
                <h1>Essential Design, Expresar tu Personalidad</h1>
              </section>
              <section class="pt-4 pb-4">
               <h1 id="servicioAsesorFun">CÓMO FUNCIONA EL SERVICIO</h1> 
               <p>
               Un asesor entrará en contacto con vos, y podrán pactar una visita a nuestra tienda, en tu hogar o virtual. El foco se concentrará en conocer tu idea, gustos, tu estilo de vida, etc. Es muy importante este paso, ya que será el inicio de la creación de tu proyecto. 
               El asesor co-creará con vos el diseño del espacio que soñas. 
               Por ultimo, en base al presupuesto, tiempo y tu estilo de vida, ajustaremos el proyecto para que una vez concretado el mismo, estes satisfecho con el resultado. 
               </p>

              </section>
              <p id="reservaAsesorform">Nuestro equipo de Asesores en decoración de interiores están aguardando para ayudarte a concretar tu proyecto. 
                A continuación, por favor completá el formulario con tus datos y una breve descripción de lo que deseas realizar, posteriormente seleccionaremos y te asignaremos el asesor indicado que entrantará en contacto con vos. 
              </p>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="container bg-img">
          <div class="row align-text-left">     
            
                     <div class="col-6 cellSize ">
                    
                      <form class="row g-3 pb-3 pt-3">
                        <h1>Formulario de Contacto</h1>
                        <h6>Los campos con tilde es información requerida. </h6>                        
                        <div class="col-md-6">
                          <label for="inputName" class="form-label">Nombre</label>
                          <input type="text" class="form-control is-valid" id="inputName" placeholder="Ingresar Nombre" required>
                        </div>

                        <div class="col-md-6">
                          <label for="inputApe" class="form-label">Apellido</label>
                          <input type="text" class="form-control is-valid" id="inputApe" placeholder="Ingresar Apellido" required>
                        </div>

                        <div class="col-md-6">
                            <label for="inputEmail4" class="form-label">Email</label>
                            <input type="email" class="form-control is-valid" id="inputEmail4" required>
                          </div>
                          <div class="col-md-6">
                            <label for="inputTel" class="form-label">Telefono/Celular</label>
                            <input type="phone" class="form-control" id="inputTel">
                          </div>
                                              
                          <div class="col-12">
                            <label for="inputAddress" class="form-label">Dirección</label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="Calle N°">
                          </div>
                        
                                                
                          <div class="col-md-5">
                            <label for="inputCity" class="form-label">Ciudad</label>
                            <input type="text" class="form-control" id="inputCity">
                          </div>
                        
                          <div class="col-md-4">
                            <label for="inputState" class="form-label">Provincia</label>
                            <select id="inputState" class="form-select">
                                <option selected>Seleccionar...</option>
                                <option>Buenos Aires</option>
                                <option>Cordoba</option>
                                <option>Santa Fe</option>
                                <option>San Luis</option>
                                <option>Mendoza</option>
                            </select>
                          </div>
                        
                          <div class="col-md-3">
                            <label for="inputZip" class="form-label">Código Postal</label>
                            <input type="text" class="form-control" id="inputZip">
                          </div>

                          <div class="form-group">
                            <label for="FormComAdic">Comentarios Adicionales</label>
                            <textarea class="form-control" id="FormComAdic" rows="3"></textarea>
                          </div>
                          
                          <div class="mb-3">
                            <label for="formFile" class="form-label">Cargar documentación adicional</label>
                            <input class="form-control" type="file" id="formFile">
                          </div>
                        
                          <div class="col-6">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck">
                                <label class="form-check-label" for="gridCheck">
                                Suscrirse al Newsletter?
                                </label>
                            </div>
                          </div>
                          
                          <div class="col-12">
                            <button type="submit" class="btn btn-primary">Enviar</button>
                          </div>

                      </form>
                    
                  </div> <!-- 2do div-->
                 

          </div>
      </div>
    </section>
   <!-- Footer -->
<footer class="bg-light text-center text-lg-start">
 
  <div class="container pt-2">
  
    <div class="row">
     
      <div class="col-lg-3 col-md-12 mb-0 mb-md-0">
        <h5 class="text-uppercase"><strong> ESSENTIAL<br>DESIGN</h5></strong>
        <p>Diseños únicos, que expresen tu personalidad…</p>
      </div>
      
      <div class="col-lg-2 col-md-6 mb-0 mb-md-0">
        <h5 class="text-uppercase mb-0"><strong>ACERCA DE</strong></h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-dark">Nuestra Historia</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Nuestro equipo</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Sucursales</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Tarjeta de Afinidad</a>
          </li>
        </ul>
      </div>
     
      <div class="col-lg-2 col-md-6 mb-0 mb-md-0">
        <h5 class="text-uppercase mb-0"> <strong>AYUDA</strong> </h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-dark">FAQ</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Política de devoluciones</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Envíos</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Garantía</a>
          </li>
        </ul>
      </div>
     
      <div class="col-lg-5 col-md-6 mb-0 mb-md-0 centrarParPad">
        <h5 class="text-uppercase mb-0">UNITE A NUESTRO NEWSLETTER</h5>
        <p class="centrarParPad">Permanece actualizado en los últimos productos, promociones y eventos especiales.</p>
        
        <form>
          <div class="row d-flex justify-content-center">
            <div class="col-auto form-outline form-white">
                
              <input type="email" id="formSuscribir" class="form-control" placeholder="Ingresa tu mail"/>
              <label class="form-label" for="formSuscribir"></label>
          
            </div>
            <div class="col-auto">    
              <button type="submit" class="btn btn-outline-dark">
                Subscribe
              </button>   
            </div> 


          </div>


        </form>

      </div>
     
    </div>
  
  </div>
  
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright. All rights reserved:
    <a class="text-white" href="https://essentialdesign.com/">essentialdesign.com</a>
  </div>
 

</footer>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
  

</body>
</html>















