<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=”Description” content=” Es una Empresa dedicada al diseño y decoración de hogares y empresas con objetos de máxima calidad”/>
    <meta name=”Keywords” content=” essential design, Objetos de diseño, asesoramiento diseño”/>
    <meta name=”Distribution” content=”Global”/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dawning+of+a+New+Day&family=Homemade+Apple&family=League+Script&family=Open+Sans&family=Open+Sans+Condensed:wght@300&family=Oswald:wght@300&family=Raleway:wght@100&family=Roboto+Condensed:wght@300&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/estilosGaleriaBoostrap.css">
    <link rel="stylesheet" href="../css/estilosEsDesign.css">

    <title>Servicio de Diseño y Asesoramiento para tu hogar/empresa o proyecto</title>
   
</head>
<body>
  <header>
    <Section>
    
      <div class= "text-center">          
        <img src="../imagenes/logo/logoEDSimple.png" class="imgLogo" alt="...">
      </div>      
     
      <ul class="nav justify-content-center">
                  
          <li class="nav-item">
            <a class="nav-link" href="../views/home.html">HOME</a>
          </li>
        
          <li class="nav-item dropdown id=menuColec"> 
              <a class="nav-link" href="" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"  aria-expanded="false">
                COLECCIONES
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="../views/productos.html">Coleccion Verano 2021</a></li>
                <li><a class="dropdown-item" href="../views/productos.html#galeriaSillas">SILLAS</a></li>
                <li><a class="dropdown-item" href="../views/productos.html#galeriaLamparas">LAMPARAS</a></li>
                <li><a class="dropdown-item" href="../views/productos.html#specialPrice">SPECIAL PRICES!</a></li>
                <li><a class="dropdown-item" href="../views/productosTodos.html">Ver Colección completa</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="../views/inviernoIntroVideo.html">ADELANTO TEMPORADA INVIERNO 21</a></li>
              </ul>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="../views/nosotros.html">NOSOTROS</a>
          </li>
          
          <li class="nav-item dropdown id=menuColec"> 
              <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"  aria-expanded="false">
                CONTACTANOS</a>

                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="../views/contactanosAsesor.html">Servicio de Asesor/Diseñador</a></li>
                  <li><a class="dropdown-item" href="../views/contactanosAtCliente.html">Atención al Cliente</a></li>
               </ul>
          </li>
      </ul>

    </Section>
  </header>

<section>
<div class="container py-4">
    <div class="p-3 mb-4 bg-light border rounded-3">
      <div class="container-fluid py-3">
        <h1>FAQ</h1>
        <p id="formaEnvio">¿Cuáles son las formas de envío?</p>
        <p class="col-md-12 fs-6">
          Envío a Domicilio: entregas a través de EnvíosFast <br> Retiro por nuestra boutique de Palermo Soho  
        </p>
        <p>¿Dónde puedo consultar el seguimiento de mi pedido?</p>
        <p class="col-md-12 fs-6">
          Usted recibirá por e-mail el código de seguimiento (o número de ruta) del correo que le permitirá conocer la posición exacta del paquete. 
        </p>
        <p>Quiero cancelar mi pedido. ¿Hasta cuándo puedo hacerlo?</p>
        <p class="col-md-12 fs-6">
          Para estos casos siempre deberás contactarte con nosotros a través del mail atencionalcliente@essentialdesign.com
          Los pedidos pueden ser cancelados hasta el momento en el que sean despachados. Tené en cuenta que si ya se procesó el pago, el proceso de devolución de tu dinero puede demorar algunos días (dependiendo del método de pago). La cancelación de un pedido ya despachado se considera una devolución.
        </p>

        <p>Cambios de Pedidos Online</p>
        <p class="col-md-12 fs-6">
          Podes realizar un cambio dentro de los 30 días desde la fecha en la que llega tu pedido. Para realizarlo, podes hacerlo personalmente en cualquiera de nuestros locales o bien, solicitarlo de manera online escribiéndonos a atencionalcliente@essentialdesign.com indicando tu número de pedido e ítems a devolver. 
          Frente a cada uno de los cambios o arrepentimiento de compra, te solicitaremos que nos envíes una foto de la/s prenda/s para verificar el estado de la misma, y una vez que recibamos el producto y certifiquemos su estado, se avanzará con el cambio.
        </p>

        <p id="devolucionSuc">Devoluciones</p>
        <p class="col-md-12 fs-6">
          Tenés la opción de devolver los productos, siempre que sean de la colección actual, y optar por una devolución de dinero (siempre que lo hagas dentro de los primeros 10 días de recibida la compra) o una nota de crédito válida por 30 dias.
        </p>

        <p>Devoluciones por correo</p>
        <p class="col-md-12 fs-6">
          Para poder efectuar la devolución de los pedidos por un arepentimiento de compra, primero te solicitaremos una foto de el/los producto/s para verificar el estado, luego una vez recibidos y en las condiciones en las que fueron enviados, se avanzará con la devolución de manera automática. En el caso de que el/los producto/s no estén en las mismas condiciones en las que fueron enviadas, no se procesará la devolución y el cliente deberá abonar un nuevo envío por el producto en cuestión.
          <br> No se podrán procesar devoluciones de dinero de productos que fueron adquiridos con descuentos y promociones especiales, se otorgarán notas de crédito.
        </p>

        <p id="tarjetaAfinidad">Tarjeta Afinidad</p>
        <p class="col-md-12 fs-6">
          Através de nuestra tarjeta afinidad podrás acceder a beneficios exclusivos por ser nuestro cliente. Cada mes te será envíado un mail con las novedades. 
        </p>

      </div>
    </div>
</section>
 <!-- Footer -->


 <footer class="bg-light text-center text-lg-start">
 
    <div class="container pt-2">
    
      <div class="row">
       
        <div class="col-lg-3 col-md-12 mb-0 mb-md-0">
          <h5 class="text-uppercase"><strong> ESSENTIAL<br>DESIGN</h5></strong>
          <p>Diseños únicos, que expresen tu personalidad…</p>
        </div>
        
        <div class="col-lg-2 col-md-6 mb-0 mb-md-0">
          <h5 class="text-uppercase mb-0"><strong>ACERCA DE</strong></h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">Nuestra Historia</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Nuestro equipo</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Sucursales</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Tarjeta de Afinidad</a>
            </li>
          </ul>
        </div>
       
        <div class="col-lg-2 col-md-6 mb-0 mb-md-0">
          <h5 class="text-uppercase mb-0"> <strong>AYUDA</strong> </h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-dark">FAQ</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Política de devoluciones</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Envíos</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Garantía</a>
            </li>
          </ul>
        </div>
       
        <div class="col-lg-5 col-md-6 mb-0 mb-md-0 centrarParPad">
          <h5 class="text-uppercase mb-0">UNITE A NUESTRO NEWSLETTER</h5>
          <p class="centrarParPad">Permanece actualizado en los últimos productos, promociones y eventos especiales.</p>
          
          <form>
            <div class="row d-flex justify-content-center">
              <div class="col-auto form-outline form-white">
                  
                <input type="email" id="formSuscribir" class="form-control" placeholder="Ingresa tu mail"/>
                <label class="form-label" for="formSuscribir"></label>
            
              </div>
              <div class="col-auto">    
                <button type="submit" class="btn btn-outline-dark">
                  Subscribe
                </button>   
              </div> 

            </div>
  
          </form>
  
        </div>
       
      </div>
    
    </div>
    
    <div class="text-center p-3 footerCopyright">
      © 2021 Copyright. All rights reserved:
      <a class="text-white" href="https://essentialdesign.com/">essentialdesign.com</a>
    </div>
   
  
  </footer>   

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>


</body>
</html>