<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=”Description” content=” Es una Empresa dedicada al diseño y decoración de hogares y empresas con objetos de máxima calidad”/>
    <meta name=”Keywords” content=” temporada Otoño invierno 2021, decoración, diseño interior, Sillas, Lamparas, Objetos de diseño, asesoramiento diseño”/>
    <meta name=”Distribution” content=”Global”/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="../css/tempInviernoParallax.css">
    <title>Temporada Otoño Invierno 2021</title>
</head>
<body>

      <div class="imagenFondoParallax1">
        <div class="titulosFrases">
        <span class="border">Desplazate hacia abajo para conocer lo nuevo que creamos para vos</span>
        </div>
      </div>

      <div class="divisorParrafoWhite">
        <h3 >Otoño|Invierno 2021</h3>
        <p> El verano ha llegado a su fin, dando inicio a la llegada del otoño-invierno, quedandonos mas tiempo en casa. 
            El equipo de Essential Design pensó en vos en esta temporada muy especial, convirtiendo tu hogar en mucho más que un refugio. 
            Para esta temporada, ademas de las sillas y lamparas de los nos sentimos muy orgullosos por la gran demanda recibida, sumamos
            los accesorios para acompañarte en tus momentos de relax. <br>
            Essential Design, expresar tu personalidad...
          </p>
      </div>

      <div class="imagenFondoParallax2">
        <div class="titulosFrases">
          <span class="border titulosFondoTransparente" >ILUMINACIÓN | LAMPARAS</span>
        </div>
      </div>

      <div class="divisorParrafoBlackPosition">
        <div class="divisorParrafoBlack">
          <p>Su sola presencia es capaz de dar la vuelta a la decoración. Descubrí la nueva colección para inspirarte en 
            como mejorar el aspecto de tu hogar...</p>
            
            <div class="text-center">  <a  href="../views/indexGalleryTemporadaInviernoSillas.html"class="btn btn-light">Descubrila</a>
            </div>  

        </div>
      </div>

      <div class="imagenFondoParallax3">
        <div class="titulosFrases">
          <span class="border titulosFondoTransparente">MOBILIARIO | SILLAS</span>
        </div>
      </div>

      <div class="divisorParrafoBlackPosition">
        <div class="divisorParrafoBlack">
          <p>Son un elemento muy importante del ambiente, sumando elegancia y texturizando la decoración...</p>
        </div>
      </div>

      <div class="imagenFondoParallax4">
        <div class="titulosFrases">
        <span class="border titulosFondoTransparente" >ACCESORIOS</span>
          </div>
      </div>
        
      <div class="divisorParrafoBlackPosition">
        <div class="divisorParrafoBlack">
          <p>Salimos a la busqueda de tendencias, y esta vez es el turno de los accesorios como ser vajillas, juegos de té y café, 
              y mucho mas; piezas que son capaces de unirse a tu espacio y decoración...</p>
        </div>
      </div>

      <div class="imagenFondoParallax1">
        <div class="titulosFrases">
          <span class="border">Otoño|Invierno 2021</span>
        </div>
      </div>

</body>
</html>